<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.noor.indonesiapintarapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_sip_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity" android:label="Indonesia Pintar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistActivity" android:label="Indonesia Pintar"/>
        <activity android:name=".HomeActivity" android:label="Indonesia Pintar"/>
        <activity android:name=".HomeAdminActivity" android:label="Validasi Sekolah"/>
        <activity android:name=".InputSekolahActivity" android:label="Input Data Sekolah"/>
        <activity android:name=".SekolahActivity" android:label="Detail Sekolah"/>
        <activity android:name=".RelawanActivity" android:label="Pengajuan Relawan"/>
        <activity android:name=".DaftarRelawanActivity" android:label="Notifikasi"></activity>
    </application>

</manifest>